<head>

  <title>RESULTS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
Enter Your Roll NO:
<form [formGroup]="girish"  (ngSubmit)="onSubmit()">
     
    <input type="text"id="fname" class="form-control" name="fname" formControlName="fname" autocomplete="off" >
    <input type="submit" name="submit" >
    
    </form>



<table *ngIf="results1.length>0" border="1" cellpadding="0" height="450" width="1000" cellspacing="0">
    <tr><td>Rollno</td><td>Subjectcode</td><td>Subname</td><td>Internal</td><td>External</td><td>Credits</td></tr>
  <tr *ngFor="let article of results1">
    
    <td>{{article.a}}</td>
    <td>{{article.b}}</td>
    <td>{{article.c}}</td>
    <td>{{article.d}}</td>
    <td>{{article.e}}</td>
    <td>{{article.f}}</td>
    </tr>
    
  
  </table>
  
  
</body>