<div> 

    <h3 align ='center'>CONTACT US</h3>
    <h4 align ='center'>From 09:30 AM to 01:00 PM and 02:00 PM to 05:30 PM</h4>
    <table border="1" cellspacing="2" cellpadding="10" > 
    <tbody>
    <tr>
    <td valign="center" align="center" width=38% ><p><strong>Purpose</strong></p></td>
    <td valign="center" align="center" width=38%><p><strong>Section</strong></p></td>
    <td valign="center" align="center" width=24%><p><strong>Contact Numbers</strong></p></td>
    </tr>
    
    <tr>
    <td valign="center" ><p>General Information</p></td>
    <td valign="center" ><p>Reception</p></td>
    <td valign="center" ><p>0884-2300940</p>
    
    <p>0884-2300941</p></td>
    </tr>
    
    <tr>
    <td valign="center" ><p>Status of PC, CMM, Migration Certificate, Transcript application</p></td>
    <td valign="center" ><p>Student Counters</p></td>
    <td valign="center" ><p>0884-2300903</p>
    
    </td>
    </tr>
    
    <tr>
    <td valign="center" ><p>Status of OD application, Genuinity Certificate</p></td>
    <td valign="center" ><p>Office of Addl. Controller of Examination - SDC</p></td>
    <td valign="center" ><p>0884-2300942</p></td>
    </tr>
    
    <tr>
    <td valign="center" ><p>Examination Notification, Results, Challenge valuations, Discrepancy issues</p></td>
    <td valign="center" ><p>Office of Controller of Examination</p></td>
    <td valign="center" ><p>0884-2300907</p></td>
    </tr>
    
    <tr>
    <td valign="center" ><p>For PhD Candidates</p></td>
    <td valign="center" ><p>Office of Director of Evaluation</p></td>
    <td valign="center" ><p>0884-2300911</p></td>
    </tr>
    
    <tr>
    <td valign="center" ><p>Urgent issues only</p></td>
    <td valign="center" ><p>Controller of Examination (Direct Number)</p></td>
    <td valign="center" ><p>0884-2300902</p></td>
    </tr>
    
    </tbody>
    </table>
    
    
    </div>
