<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .required {
    background: red;
  }
    </style>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Vertical (basic) form</h2>
  <form [formGroup]="girish"  (ngSubmit)="submitDetails()">
    <div class="form-group">
      <label for="fname">Please Enter FIRST NAME:</label>
      <input type="text" class="form-control" id="fname"  name="fname" formControlName="fname" autocomplete="off" >
      <div *ngIf="girish.controls.fname.invalid && (girish.controls.fname.dirty || girish.controls.fname.touched)"
      class="alert-warning">
  
    <div *ngIf="girish.controls.fname.errors.required">
      <b>Name is required.</b>
    </div>
    <div *ngIf="girish.controls.fname.errors.minlength">
      <b>Name must be at least 4 characters long.</b>
    </div>
    <div *ngIf="girish.controls.fname.errors.maxlength">
       <b> Name must be not  10 characters long.</b>
    </div>
  </div>

</div>
                   <div class="form-group" >
      <label for="lname">LAST NAME:</label>
      <input type="text" class="form-control" id="lname" name="lname" formControlName="lname" autocomplete="off" >
                          </div>



    <div class="form-group">
        <label for="age">AGE:</label>
        <input type="number"  id="age" class="form-control" autocomplete="off" name="age" formControlName="age">
      </div>

      <div class="form-group">
        <label for="email">MAIL:</label>
        <input type="text" class="form-control" id="age" autocomplete="off" name="mail" formControlName="mail" >
      </div>


    <button type="submit"  [disabled]="girish.invalid" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
